$black: #303030;
$width: 800px;
$purple: #2f1a35;
$yellow: rgb(207, 167, 56);
$pink: rgb(83, 34, 49);
$green: rgb(45, 73, 5);
$red: rgb(92, 13, 18);
$grey: lighten(grey, 40%);
$shad: 0 0 10px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.05);
$grad: linear-gradient(90deg, #202928 0%, #2f1a35 20%, #421e2c 60%, $yellow 85%, #15423f 95%);
$verticalGrad: linear-gradient(0, #202928 0%, #2f1a35 20%, #421e2c 60%, $yellow 85%, #15423f 95%);
